.form {
  display: grid;
  grid-template-columns: repeat(12 ,1fr);
  column-gap: 24px;
  max-width: 1200px;
  padding-top: 2rem;
  margin: auto;
  
  @include onTablet {
    grid-template-columns: repeat(6 ,1fr);
    column-gap: 20px;
  }

  @include onMobile {
    grid-template-columns:1fr;
  }

  &__form-section {
    grid-column: 4/-4;

    @include onTablet {
      grid-column: 2/-2;
    }

    @include onMobile {
      grid-column: 1/-1;
    }
  }

  &__input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    margin-bottom: 16px;
    padding: 18px 16px;
    border: 3px solid transparent;
    border-radius: 10px;
    outline: none;
    transition: all 0.3s;

    color: #d45906;
    font-size: 16px;


    &:last-child {
      margin-bottom: 0;
    }

    &::placeholder {
      font-size: 16px;
      font-family: 'Comfortaa',arial, sans-serif;
    }

    &:hover {
      border-color: #d45906;
      &::placeholder {
        color: #d45906;
      }
    }

    &:focus {
      border-color: #d45906;
      &::placeholder {
        color: #d45906;
      }
    }
  }

  &__input--textarea {
    height: 200px;
    resize: none;
  }
}