.title {
  padding: 2rem 0 0;
  margin: 0 auto;
  width: max-content;
  box-sizing: border-box;
  text-transform: uppercase;
  text-align: center;
  font-size: 44px;
  line-height: 1;

  @include onTablet {
    font-size: 36px;
  }

  @include onMobile {
    font-size: 28px;
  }

  &::before {
    @include title-icons;
    background-image: url("./photos/bat-left.png");
    margin-right: 10px;

    @include onMobile {
      margin-right: 2px;
    }
  }

  &::after {
    @include title-icons;
    background-image: url("./photos/bat-right.png");
    margin-left: 10px;
    @include onMobile {
      margin-left: 2px;
    }
  }
}