@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;600&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Comfortaa',arial, sans-serif;
    font-size: $font-size;
    letter-spacing: 1px;
    color: white;
    background-color: #2a2a2a;
}

.body--with-menu {
  overflow: hidden;
}

label {
  text-transform: uppercase;
}


li {
  @extend %resets;
}

a{
  @extend %resets;
}

button {
  @extend %resets;
}

label {
  @extend %resets;
}
